header {
  background-color:#555; /* Add your preferred background color */
  height:50px;
  
  width: 100;
}

body{
  background-color: #555;
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding:25px 25px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}


.animated-h1 {
  display: center;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  color:cyan;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.2rem;
  animation: animated-h1 4s ease-in-out infinite;
}

.animated-h1:before,
.animated-h1:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}



@keyframes animated-h1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes before-animation {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes after-animation {
  0% {
    right: -100%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: -100%;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.testimonial-button {
  padding: 10px 20px;
  width:auto;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.testimonial-button:hover {
  background-color: #0056b3;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/*SIGN UP*/

*{box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }}
  .p1{
    color: black;
    font-weight: bold;
  }
main{

    background-image: url('static/picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1350px;
    margin-left:auto;}

    .flash-messages {
      list-style: none;
      padding: 0;
    }
    
    .flash-messages li {
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
    }
    
    .success {
      background-color: #dff0d8;
      border: 1px solid #d0e9c6;
      color: #3c763d;
    }
    
    /* Style for flash messages box */
.flash-messages-box {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Style for flash messages box */
.flash-messages-box {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.flash-message {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.flash-message.success {
  background-color: #4CAF50;
}

.flash-message.error {
  background-color: #f44336;
}

/* Style for cancel button */
.cancel-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

h2{
  font-size: 36px;
  font-weight: bold;
  color: whitesmoke;
  font-style: italic;
}
  
.p1{
  color:black;
   font-weight: bold;
}
