<!DOCTYPE html>
<html lang="en">
<head>
    <title>Life Coach Chatbot</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <script src="static\js\script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#" id="search-btn" onclick="openSearchModal()"><i class="fa fa-fw fa-search"></i> Search</a>
            <a href="#" onclick="openContactModal()"><i class="fa fa-fw fa-envelope"></i> Contact</a>

            <a href="#" onclick="openLoginModal()"><i class="fa fa-fw fa-user"></i> Login</a>
            <a href="#" onclick="openSignupModal()"><i class="fa fa-fw fa-user"></i> Sign Up</a>
            <a href="#" onclick="openTestimonialsModal()"><i class="fa fa-fw fa-user"></i> Testimonials</a>

            
        </div>
        
        <!-- ModalLogin -->
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages-box">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            <span>{{ message }}</span>
            <button class="cancel-icon" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div id="id01" class="modal">
        <span onclick="closeModal('id01')" class="close" title="Close Modal">&times;</span>
        <div class="modal-content animate" style="width: 300px;">
            <form action="/login" method="post">
                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" id="username" required>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" id="password" required>
                    <button type="button" onclick="closeModal('id01')">Cancel</button>
                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </form>
        </div>
    </div>
            
        </form>
    

        <!-- Sign up -->
        
        <div id="id02" class="modal">
            <span onclick="closeModal('id02')" class="close" title="Close Modal">&times;</span>
            <div class="modal-content animate" style="width: 500px;">
                <form action="/signup" method="post">
                    <div class="container">
                
                        <p1>Please fill in this form to create an account.</p1>
                        <hr>
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                        <label for="password-repeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="password-repeat" required>
                        <label>
                            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                        </label>
                        <p1>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p1>
                        <div class="clearfix">
                            <button type="button" onclick="closeModal('id02')" class="cancelbtn">Cancel</button>
                            <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Search modal -->
        <div id="id03" class="modal">
            <span onclick="closeModal('id03')" class="close" title="Close Modal">&times;</span>
            <div class="modal-content animate" style="width: 400px;">
                <form action="/search" method="get">
                    <input type="text" placeholder="Search..." name="query">
                    <button type="submit"><i class="fa fa-search">Search</i></button>
                </form>
            </div>
        </div>

        <!-- Contact modal -->
<div id="id04" class="modal">
    <span onclick="closeModal('id04')" class="close" title="Close Modal">&times;</span>
    <div class="modal-content animate" style="width: 400px;">
        <p><i class="fa fa-phone"></i> <strong>Phone:</strong> <a href="tel:0112268568">0112268568</a></p>
        <p><i class="fa fa-instagram"></i> <strong>Instagram:</strong> <a href="https://www.instagram.com/MonCherry">Mon Cherry</a></p>
        <p><i class="fa fa-facebook"></i> <strong>Facebook:</strong> <a href="https://www.facebook.com/MonCherry">Mon Cherry</a></p>
        <p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:catherinewambua197@gmail.com">catherinewambua197@gmail.com</a></p>
    </div>
</div>

<div id="ido5" class="modal">
    <div class="modal-content animate">
        <span class="close" onclick="closeModal('ido5')">&times;</span>
        <div class="button-container">
            <button class="testimonial-button" onclick="openAddTestimonialModal()">Add Testimonial</button>
            <button class="testimonial-button" onclick="openExistingTestimonialsModal()">View Existing Testimonials</button>
        </div>
    </div>
</div>


<div id="addTestimonialModal" class="modal">
    <div class="modal-content animate" style="width: 400px;">
        <span class="close" onclick="closeModal('addTestimonialModal')">&times;</span>
        <div>
            <form id="testimonialForm" class="testimonial-form">
                <label for="username" class="form-label">Username:</label><br>
                <input type="text" id="username" name="username" class="form-input" required><br><br>
            
                <label for="testimonial" class="form-label">Testimonial:</label><br>
                <textarea id="testimonial" name="testimonial" class="form-textarea" rows="4" cols="50" required></textarea><br><br>
            
                <button type="button" onclick="submitTestimonial()" class="form-button">Submit</button>
            </form>
            <p id="submissionStatus" class="submission-status"></p>
            
    </div>
</div>
<!-- Existing Testimonials Modal -->
<div id="existingTestimonialsModal" class="modal">
    <div class="modal-content animate" style="width: 500px;">
        <span class="close" onclick="closeExistingTestimonialsModal()">&times;</span>
        <div>
            <!-- Existing Testimonials Container -->
            <div id="existingTestimonialsContainer" class="existing-testimonials-container">
                <!-- Testimonials will be dynamically added here -->
                <ul>
                    {% for testimonial in existing_testimonials %}
                        <li>{{ testimonial.username }}: {{ testimonial.testimonial }}</li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
</div>




    </header>

    <main style="background-image: url('/static/picture.jpg'); background-repeat: no-repeat; background-size: cover; height: 700px;">
        
            <h1 class="animated-h1">Welcome to Life Coach</h1>
            <h2>Our chatbot is designed to help users address their mental health concerns and provide emotional support. Click the "Sign Up" button above to begin a conversation with our chatbot and experience a new way to improve your mental health</h2>
        </div>
    </main>

    <footer>
        <p>Copyright © 2024 Mental Health Chatbot</p>
    </footer>
    
</body>
</html>
