<!DOCTYPE html>
<html lang="en">
<head>
    <title>Life Coach Chatbot</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <script src="static\js\script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a href="#" onclick="openLoginModal()"><i class="fa fa-fw fa-user"></i> Login</a>
            <a href="#" onclick="openSignupModal()"><i class="fa fa-fw fa-user"></i> Sign Up</a>
            <a href="#"><i class="fa fa-fw fa-user"></i> Testimonials</a>
            <a href="#about" class="split">Help</a>
        </div>
        <!-- ModalLogin -->
        <!-- ModalLogin -->
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages-box">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            <span>{{ message }}</span>
            <button class="cancel-icon" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

<div id="id01" class="modal">
    <span onclick="closeModal('id01')" class="close" title="Close Modal">&times;</span>
    <form class="modal-content animate" action="/login" method="post">
        <div class="container">
          <!-- Added form tag and action -->
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username" required>  <!-- Added id attribute -->
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>  <!-- Added id attribute -->
            <button type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>
            
        </form>
    

        <!-- Sign up -->
        
<div id="id02" class="modal">
    <span onclick="closeModal('id02')" class="close" title="Close Modal">&times;</span>
    <form class="modal-content animate" action="/signup" method="post">
        <div class="container">
            <h4>Sign Up</h4>
            <p1>Please fill in this form to create an account.</p1>
            <hr>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            
            <label for="password-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="password-repeat" required>
            
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>
            
            <p1>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p1>
            <div class="clearfix">
                <button type="button" onclick="closeModal('id02')" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>
</div>

    </header>

    <main style="background-image: url('/static/picture.jpg'); background-repeat: no-repeat; background-size: cover; height: 700px;">
        
            <h1 class="animated-h1">Welcome to Life Coach</h1>
            <h2>Our chatbot is designed to help users address their mental health concerns and provide emotional support. Click the "Sign Up" button above to begin a conversation with our chatbot and experience a new way to improve your mental health</h2>
        </div>
    </main>

    <footer>
        <p>Copyright © 2024 Mental Health Chatbot</p>
    </footer>
    
</body>
</html>